# Python virtual environment
Backend/Include/
Backend/Lib/
Backend/Scripts/
Backend/pyvenv.cfg

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
Backend/.env

# Local virtual environments
.venv/
venv/