# Environment variables
.env
Backend/.env

# Python virtual environments
.venv/
venv/
Backend/Include/
Backend/Lib/
Backend/Scripts/
Backend/pyvenv.cfg

# Python cache
__pycache__/
*.pyc

# Node
node_modules/
dist/git add .gitignore